@page
@model WebApp2.Pages.Chemicals.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chemicals</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chemicals.ame)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chemicals.ame)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chemicals.vendor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chemicals.vendor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chemicals.sds)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chemicals.sds)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Chemicals.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
