@page
@model WebApp2.Pages.Chemicals.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Chemicals[0].ame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chemicals[0].vendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chemicals[0].sds)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Chemicals) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ame)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vendor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sds)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
